.bs-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
}

.col-md-12 {
    padding: 15px 15px 15px;
}

.table>tbody>tr.danger>td {
    background-color: #ff7f7f;
}

.table>tbody>tr.warning>td {
    background-color: #ffd700;
}

.table>tbody>tr.success>td {
    background-color: #a2d48f;
}

.table-hover tbody tr.danger:hover>td {
    background-color: #ffffff;
}
.table-hover tbody tr.warning:hover>td {
    background-color: #ffffff;
}
.table-hover tbody tr.success:hover>td {
    background-color: #ffffff;
}

