.bs-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
}

.col-md-12 {
    padding: 15px 15px 15px;
}

.table>tbody>tr.red>td {
    background-color: #ff7f7f;
}

.table>tbody>tr.yellow>td {
    background-color: #ffd700;
}

.table>tbody>tr.green>td {
    background-color: #a2d48f;
}

.table-hover tbody tr.red:hover>td {
    background-color: #ffffff;
}
.table-hover tbody tr.yellow:hover>td {
    background-color: #ffffff;
}
.table-hover tbody tr.green:hover>td {
    background-color: #ffffff;
}

#backbtn {
    margin-bottom: 10px;
}