.bs-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
}

.col-md-12 {
    padding: 15px 15px 15px;
}

td.nowrap {
	white-space: nowrap;
}