.bs-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
}

.col-md-12 {
    padding: 15px 15px 15px;
}

.table>tbody>tr.red>td {
    background-color: rgba(255,0,0,0.2);
}

.table>tbody>tr.yellow>td {
    background-color: rgba(255,255,0,0.3);
}

.table>tbody>tr.green>td {
    background-color: rgba(0,128,0,0.2);
}