.bs-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
}

.col-md-12 {
    padding: 15px 15px 15px;
}

.table>tbody>tr.danger>td {
    background-color: #ff7f7f;
}

.table>tbody>tr.warning>td {
    background-color: #ffd700;
}
.table>tbody>tr.success>td {
    background-color: #329932;
}

:link { color: #f7f5e4; }
:visited { color: #f7f5e4; }

tr:hover {
    background-color: #ffff99;
}